<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DefaultConn" connectionString="Data Source=LAPTOP-2F4QPOGA\SQLEXPRESS;Initial Catalog=ExtFunction;User ID=webUser;Password=Password123$;connect timeout=20;" providerName="System.Data.SqlClient"/>
    <add name="ExtFunctionConn" connectionString="Data Source=LAPTOP-2F4QPOGA\SQLEXPRESS;Initial Catalog=ExtFunction;User ID=webUser;Password=Password123$;connect timeout=20;" providerName="System.Data.SqlClient"/>
    <!-- <add name="DefaultConn" connectionString="Data Source=192.168.2.212;Initial Catalog=HAWOOO;User ID=HAWOOO;Password=@hawooo666;connect timeout=20;" providerName="System.Data.SqlClient" />-->
    <add name="LocalDatabaseEntities" connectionString="metadata=res://*/App_Code.DAL.FLModel.csdl|res://*/App_Code.DAL.FLModel.ssdl|res://*/App_Code.DAL.FLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-2F4QPOGA\SQLEXPRESS;initial catalog=LocalDatabase;user id=webUser;connect timeout=20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ShoppingCartUrl" value="https://www.hawooo.com/fb_live_cart/Login.aspx"/>
    <add key="AccessToken" value="EAAU3p5IUhZC4BAIsDR3MDh4hoZBNgjrud7OBO7ZC53n25dQ6P615VYzmxMTl5ECrztwc4oFu6m8MCzZAyq8L3BzRn827XMq8QwPZAeZA4DKPfErdFSwKaccrUf2moLI9GjnANLWJ3DPk95FDt215kbaZCVfTZBGZBONgqAoqZAfATagwZDZD"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>